html,
body {
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

.rating {
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
}
.pub-route {
    list-style-type: none;
    padding: 0;
    color: white;
    margin: 0;
}

#pub_list li {
    background: #2c3e50;
    padding: 20px;
    margin: 0;
}

#pub_list li h2 {
    font-weight: 700;
}

#pub_list li:nth-child(odd) {
    background: #34495e;
}